{% extends 'base.html'%}
{% load static %}
{% block content %}

        <div class="breadcrumbs overlay">
            <div class="container">
                <div class="bread-inner">
                    <div class="row">
                        <div class="col-12">
                            <h2>Meet our Experts</h2>
                            <ul class="bread-list">
                                <li><a href="{% url 'home' %}">{{homedata.hospital_name}}</a></li>
                                <li><i class="icofont-simple-right"></i></li>
                                <li class="active"> Experts </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
		<!-- Start Blog Area -->
		<section class="blog section" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static '/img/doctor_1.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content"><h2><a href="blog-single.html">Doctor Name</a></h2>
									<p class="text">Doctor details and specialization</p>
                                </div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static '/img/doctor_2.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<h2><a href="blog-single.html">Doctor Name</a></h2>
									<p class="text">Doctor details and specialization</p>
                                </div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Blog -->
						<div class="single-news">
							<div class="news-head">
								<img src="{% static '/img/doctor_3.jpg' %}" alt="#">
							</div>
							<div class="news-body">
								<div class="news-content">
									<h2><a href="blog-single.html">Doctor Name</a></h2>
									<p class="text">Doctor details and specialization</p>
                                </div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</section>
		<!-- End Blog Area -->
		
{%endblock%}