{% extends 'base.html'%}
{% load static %}
{% block content %}
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Our Achievements & Highlights</h2>
							<ul class="bread-list">
								<li><a href="{% url 'home' %}">{{homedata.hospital_name}}</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Highlights</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<!-- Start Contact Us -->
		<section class="contact-us section">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6">
							<div class="contact-us-form">
								<h4>Highlights Page will render soon...!&#128526;</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact Us -->
		
{%endblock%}