{% extends 'base.html'%}
{% load static %}
{% block content %}
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style=background-image:url("{% static "/img/Background_1.jpg" %}")>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>{{homedata.headliner_1}}</h1>
									<p>{{homedata.headline_1_tagline}}</p>
									<div class="button">
										<a href="{% url 'appointments' %}" class="btn">Get Appointment</a>
										<a href="{% url 'services' %}" class="btn primary">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider"  style=background-image:url("{% static "/img/Background_2.jpg" %}")>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>{{homedata.headliner_2}}</h1>
									<p>{{homedata.headline_2_tagline}}</p>
									<div class="button">
										<a href="{% url 'appointments' %}" class="btn">Get Appointment</a>
										<a href="{% url 'highlights' %}" class="btn primary">About Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style=background-image:url("{% static "/img/Background_3.jpg" %}")>
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>{{homedata.headliner_3}}</h1>
									<p>{{homedata.headline_3_tagline}}</p>
									<div class="button">
										<a href="{% url 'appointments' %}" class="btn">Get Appointment</a>
										<a href="{% url 'contact' %}" class="btn primary">Contact Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<h4>{{homedata.scheduler_1}}</h4>
										<p>{{homedata.scheduler_1_tagline}}</p>
										<!-- <a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a> -->
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<h4>{{homedata.scheduler_2}}</h4>
										<p>{{homedata.scheduler_2_tagline}}</p></div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<h4>{{homedata.scheduler_3}}</h4>
										<ul class="time-sidual">
											{{homedata.scheduler_3_tagline | safe}}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>{{homedata.emergency_call_header}} {{homedata.contact_number}} </h2>
							<p>{{emergency_call_tagline}}</p>
							<div class="button">
								<a href="#" class="btn">Contact Now</a>
								<a href="#" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		<!-- Start portfolio -->
		<section class="portfolio section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>{{ homedata.cleanliness_header }}</h2>
							<img src="{% static "/img/section-img.png" %}" alt="#">
							<p>{{ homedata.cleanliness_tagline }}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="{% static "/img/pf1.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf2.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf3.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf4.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf1.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf2.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf3.jpg" %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static "/img/pf4.jpg" %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
{%endblock%}